/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                General Style                 */
/*~ ------------------------------------------ ~*/

/*  Aplicable for all   */
body {
    color: black;
    width: 100%;
	height: 35rem;
}
/**/

/* CLASSES */
.hide { display: none; }
.makeme-row { flex-direction: row; }
/**/
/*  -----------------   */

/* PONG */
.game {
	background-color: black;
}

.corners {

}

.corner {
	background-color: white;
	border-width: 1rem;
	height: 0.5rem;
	margin: 0.05rem 1rem;
}

.ball-c img {
	border-radius: 50%;
	width: 1rem;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
