/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                General Style                 */
/*~ ------------------------------------------ ~*/

/*  Aplicable for all   */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita scrollbars */
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}
/**/

/* CLASSES */
.hide { display: none; }
.makeme-row { flex-direction: row; }
/**/
/*  -----------------   */

/* PONG */
#game {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	gap: 22rem;

	background-color: black;

	height: 100%;
	width: 100%;
}

#sliderL {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
	opacity: 0.5;
}
#sliderR{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
	opacity: 0.5;
}


canvas
{
	background-color: black;
	display: block;
	box-shadow: 0 0 20px crimson;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
