/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                General Style                 */
/*~ ------------------------------------------ ~*/

/*  Aplicable for all   */
body {
    color: black;
    width: 100%;
	height: 35rem;
}
/**/

/* CLASSES */
.hide { display: none; }
.makeme-row { flex-direction: row; }
/**/
/*  -----------------   */

/* PONG */
.game {
	background-color: black;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
